# This file is an example.
# Create a .env.local file and add your own credentials.
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_xhxw4cb
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_wj8azfa
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=tGRGhietuoPhnMdJt
